
/* Remove conflicting styles to allow for our custom implementations */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate-slow 6s linear infinite;
}

/* Preserve any other necessary animations */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
